<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    button
    {
        background-color: red;
        border: 1px solid red;
        border-radius: 3px 4px;
        width: 150px;
        height: 30px;
    }
    button a,
    button a:hover,
    button a:visited{
        color: white;
        text-decoration: none;
    }
    button span
    {
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-right: 10px;
    }
    </style>
    <title>Document</title>
</head>
<body>

{% load socialaccount %}
{% providers_media_js %}

<h1>hello world!</h1>

{% if user.is_authenticated %}
<a href="/accounts/logout">로그아웃</a><br>
{{user.username}} 님이 로그인 중

{% else %}
<button>
    <span>G</span>
    <a href="{% provider_login_url 'google' %}">login with Google</a><br>
</button>
<br />

{% endif %}
</body>
</html>