{% extends 'base.html' %}

{% block content %}
<br />
<br />
<div>
    {% for blogs in posts %}
    <div class="card">
        <div class="card-header">
            {{blogs.date}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{blogs.title}}</h5>
            <p class="card-text">{{blogs.summary}}</p>
            <a href="{% url 'detail' blogs.id %}" class="btn btn-primary">More</a>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
<div class="paginator">
    {% if posts.has_previous %}
    <button type="button" class="btn btn-outline-primary"><a href="?page=1">First</a></button>
    <button type="button" class="btn btn-outline-primary"><a
            href="?page={{posts.previous_page_number}}">Previous</a></button>
    {% endif %}
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
    {% if posts.has_next %}
    <button type="button" class="btn btn-outline-primary"><a href="?page={{posts.next_page_number}}">Next</a></button>
    <button type="button" class="btn btn-outline-primary"><a
            href="?page={{posts.paginator.num_pages}}">Last</a></button>
    {% endif %}
</div>
{% endblock %}
